<div class="container about-me">
  <h2>Who I am?</h2>
  <div class="row">
    <div class="col-sm-6 text-center">
      <img src="../../../assets/img/CV.jpg" id="my-photo" class="img-fluid rounded-circle">
    </div>
    <div class="col-sm-6 card m-auto">
      <p>Hello world, I'm studying web and app development. I have a lot of personal experience with backend/frontend
        websites programming languages. Also I have the ability to work on a team and to adapt easily to new work
        environments. </p>
    </div>
  </div>

</div>
