<div class="container" id="skills">
  <h2>Skills</h2>
  <div class="row text-center">
    <div class="col-sm-4 border-color rounded">
      <i class="fa-solid fa-code fa-xl"></i>
      <h3>FrontEnd and BackEnd Developer</h3>
      <p>Knowledge on backend and frontend languages and frameworks, as well as the ability to
        develop an optimal and fast projects
      </p>
    </div>
    <div class="col-sm-4 border-color rounded">
      <i class="fa-solid fa-database fa-xl" ></i>
      <h3>Skill</h3>
      <p>Experience with relational and non-relational databases </p>
    </div>
    <div class="col-sm-4 border-color rounded ">
      <i class="fa-solid fa-people-group fa-xl"></i>
      <h3>Able to work as a team</h3>
      <p>Having the quality to adjust to working fastly, I'm ready to work with workmates to do amazing proyects and friendships</p>
    </div>
  </div>
</div>
